@using OOH.Language.Resources
@model OOH.Data.Dtos.Usuario.UserLoginDto
@{
    ViewData["Title"] = "Login Account";
    Layout = "_LayoutLogin";
}

<section class="login p-fixed d-flex text-center bg-primary common-img-bg" style="background-image:url('../images/background.jpg')">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="login-card card-block auth-body mr-auto ml-auto">
                    <form class="md-float-material">

                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left txt-primary">@Resources.IniciarSesion</h3>
                                </div>
                            </div>
                            <span class="text-danger" id="txtError"></span>
                            <hr />
                            <div class="input-group">
                                @*<input type="text" class="form-control" placeholder="Your Email Address">*@
                                @*@Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Usuario } })*@
                                <input type="text" asp-for="Login" class="form-control" placeholder="@Resources.Usuario" />
                            </div>
                            <div class="input-group">
                                @*<input type="password" class="form-control" placeholder="Password">*@
                                @*@Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Contrasena, @type = "password" } })*@
                                <input type="password" asp-for="Pass" class="form-control" placeholder="@Resources.Contrasena" />
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="checkbox-fade fade-in-primary d-">
                                        <label>
                                            <input type="checkbox" asp-for="Remember">
                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                            <span class="text-inverse">@Resources.Recuerdame</span>
                                        </label>
                                    </div>
                                    <div class="forgot-phone text-right f-right">
                                        <a href="auth-reset-password.html" class="text-right f-w-600 text-inverse"> @Resources.OlvidasteContrasena</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="button" id="btnLogin" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">@Resources.IniciarSesion</button>
                                </div>
                            </div>
                            <hr />

                        </div>
                    </form>
                    <!-- end of form -->
                </div>
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
<script src="~/js/Account/jquery.login.js"></script>
